h3 {color: white;
  font-size: 30px;

}

p {
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

span {
  background: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
}

p.lead{
	font-size: 20px;
  color: black;
	}

  #ServicesCarousel {
   width:750px;
   height:500px;
 }
