h3 {color: white;
  font-size: 30px;

}

p.carousel {
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}

span {
  background: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
}

p.lead{
	font-size: 20px;
  color: black;
	}

  #ServicesCarousel {
   width:750px;
   height:500px;
  }


 .item {
    display: none;
    position: relative;
    .transition(.10s ease-in-out left);
}

.nexttocarousel {
  color: black;
  font-size: 18px;
}
