body {
	padding-top: 50px;
	color: #2d2d2d;
	font-family: 'Mali', cursive;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

div.starter-template {
	background-image: url("");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.maincontainer {

    padding-top: 40px;
		}
h1{
	font-size:50px
}

p.lead{
	font-size: 20px
	}
	</p>
	<div class="sticky-container">
	    <ul class="sticky">
	        <li>
	            <a href="#" class="fa fa-facebook"></a>
	            <p><a href= fa" fa-facebook" target="_blank">Like Us on<br>Facebook</a></p>
	        </li>
	        <li>
	            <a href="#" class="fa fa-twitter"></a>
	            <p><a href="fa fa-twitter" target="_blank">Follow Us on<br>Twitter</a></p>
	        </li>
	        <li>
						<a href="#" class="fa fa-instagram"></a>
	            <p><a href="fa fa-instagram" target="_blank">Follow Us on<br>Instagram</a></p>
	        </li>
	        <li>
	            <a href="#" class= "fa fa-snapchat"></a>
	            <p><a href="fa fa-snapchat" target="_blank">Follow Us on<br>Snapchat</a></p>
	        </li>
	        <li>
	            <a href="#" class= "fa fa-youtube"></a>
	            <p><a href="fa fa-youtube" target="_blank">Subscribe on<br>YouYube</a></p>
	        </li>
